{% extends "layout.html" %}

{% block content %}

    <main class="wrap__integrantes">
        <section class="integrantes__box">
            <div class="box__text" style="width:400px;height:400px;">
                <h2>Miguel</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus eius impedit laborum
                    nemo
                    nobis officiis quaerat quasi repellendus sed. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ad cumque deleniti deserunt sit soluta. Accusantium amet dolore quaerat tempora ullam.</h4>
            </div>
            <article class="box">
                <img src="/static/img/elTemploLogo.jpeg" alt="">
                <img src="/static/img/miguel_persona-removebg-preview.png" alt="">
            </article>
        </section>
        <section class="integrantes__box">
             <article class="box">
                <img src="/static/img/elTemploLogo.jpeg" alt="">
                <img src="/static/img/sanchez-persona-removebg-preview.png" alt="">
            </article>
            <div class="box__text" style="width:400px;height:400px;">
                <h2>Sanchez</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus eius impedit laborum
                    nemo
                    nobis officiis quaerat quasi repellendus sed. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Delectus id, iste molestiae nam placeat quia repudiandae? Deserunt ea nemo optio.</h4>
            </div>
        </section>
        <section class="integrantes__box">
            <div class="box__text" style="width:400px;height:400px;">
                <h2>Lau</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus eius impedit laborum
                    nemo
                    nobis officiis quaerat quasi repellendus sed. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Aliquam architecto cupiditate dicta doloremque iste iure modi obcaecati possimus quos,
                    voluptas?</h4>
            </div>
            <article class="box">
                <img src="/static/img/elTemploLogo.jpeg" alt="">
                <img src="/static/img/law_persona-removebg-preview.png" alt="">
            </article>
        </section>
        <section class="integrantes__box">
            <article class="box">
                <img src="/static/img/elTemploLogo.jpeg" alt="">
                <img src="/static/img/law_persona-removebg-preview.png" alt="">
            </article>
            <div class="box__text" style="width:400px;height:400px;">
                <h2>Sabio</h2>
                <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur delectus eius impedit laborum
                    nemo
                    nobis officiis quaerat quasi repellendus sed. Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Architecto eius esse hic nostrum numquam quam suscipit tempore voluptates? Esse,
                    recusandae.</h4>
            </div>
        </section>

    </main>


{% endblock %}