{% extends "layout.html" %}
{% block more %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Gluten:wght@700&display=swap" rel="stylesheet">
{% endblock %}

{% block content %}


    <div id="mainCoantiner">
        <!--dust particel-->
        <div class="margin-body">

            <div>
                <div class="starsec"></div>
                <div class="starthird"></div>
                <div class="starfourth"></div>
                <div class="starfifth"></div>
            </div>
            <!--Dust particle end--->

            <div class="roww">
                <div class="col-sm-12 col-md-12">
                    <div class="wpb_text_column wpb_content_element ">
                        <div class="wpb_wrapper">
                            <div class="title-h1 text-center"><span><span class="light">Tabla </span> de Precios</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                            <div class="pricing-price-wrapper">
                                <div class="pricing-price">
                                    <div class="pricing-cost">$10</div>
                                    <div class="time">Basico</div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-row-title">
                            <div class="pricing_row_title">Paquete Basico</div>
                        </div>
                        <figure class="pricing-row">20 minutos de grabación</figure>
                        <figure class="pricing-row"><span>Agua Gratis</span></figure>
                        <figure class="pricing-row strike">Bebidas Gratis</figure>
                        <figure class="pricing-row strike">1 porro</figure>
                        <figure class="pricing-row strike">Grabamos tu video clip</figure>
                        <figure class="pricing-row strike">Porros ilimitados</figure>
                        <div class="pricing-footer">
                            <div class="gem-button-container gem-button-position-center"><a href="#"
                                                                                            class="gem-button gem-green">Compra</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                            <div class="pricing-price-wrapper">
                                <div class="pricing-price">
                                    <div class="pricing-cost">$45</div>
                                    <div class="time">Primito</div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-row-title">
                            <div class="pricing_row_title">Paquete Primito</div>
                        </div>
                        <figure class="pricing-row">1 hora de grabación</figure>
                        <figure class="pricing-row"><span style="color: #5f727f;">Agua Gratis</span></figure>
                        <figure class="pricing-row"><span style="color: #5f727f;">Bebidas Gratis</span></figure>
                        <figure class="pricing-row strike">1 porro</figure>
                        <figure class="pricing-row strike">Grabamos tu video clip</figure>
                        <figure class="pricing-row strike">Porros ilimitados</figure>
                        <div class="pricing-footer">
                            <div class="gem-button-container gem-button-position-center"><a
                                    class="gem-button gem-purpel">COMPRA</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                            <div class="pricing-price-wrapper">
                                <div class="pricing-price">
                                    <div class="pricing-cost">$99</div>
                                    <div class="time">Hermano</div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-row-title">
                            <div class="pricing_row_title">Paquete Hermano</div>
                        </div>
                        <figure class="pricing-row">2 horas de grabación</figure>
                        <figure class="pricing-row"><span>Agua Gratis</span></figure>
                        <figure class="pricing-row"><span style="color: #5f727f;">Bebidas Gratis</span></figure>
                        <figure class="pricing-row">1 porro</figure>
                        <figure class="pricing-row strike">Grabamos tu video clip</figure>
                        <figure class="pricing-row strike">Porros ilimitados</figure>
                        <div class="pricing-footer">
                            <div class="gem-button-container gem-button-position-center">
                                <a class="gem-button gem-orange">Compra</a></div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 pricing-column-wrapper">
                    <div class="pricing-column">
                        <div class="pricing-price-row">
                            <div class="pricing-price-wrapper">
                                <div class="pricing-price">
                                    <div style=" " class="pricing-cost">$145</div>
                                    <div class="time" style="display:inline-block;">Puto Amo</div>
                                </div>
                            </div>
                        </div>
                        <div class="pricing-row-title">
                            <div class="pricing_row_title">Paquete puto amo</div>
                        </div>
                        <figure class="pricing-row">5 horas de grabación</figure>
                        <figure class="pricing-row"><span style="color: #5f727f;">Agua Gratis</span></figure>
                        <figure class="pricing-row"><span style="color: #5f727f;">Bebidas Gratis</span></figure>
                        <figure class="pricing-row">1 porro</figure>
                        <figure class="pricing-row">Grabamos tu video clip</figure>
                        <figure class="pricing-row strike">Porros ilimitados</figure>
                        <div class="pricing-footer">
                            <div class="gem-button-container gem-button-position-center"><a
                                    class="gem-button gem-yellow">Compra</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>







{% endblock %}